@import 'https://fonts.googleapis.com/css?family=Sacramento';

html, body {
    margin: 0;
    padding: 0;
}

.m-container {
    min-height: 100%;
}

.m-flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    align-items: center;
}

.m-landing {
    text-align: center;
    padding-bottom: 50px;
}

.m-molly-pic {
    width: 300px;
}

.m-title {
    font-family: 'Sacramento', cursive;
    font-weight: normal;
    font-size: 5em;
    margin: 0;
}

.m-description {
    font-size: 1.2em;
    margin-top: 0;
}

.m-description-extra {
    opacity: 0.5;
    font-size: 0.9em;
}

.m-download-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    margin: 0;
    padding: 0 10px;
    font-size: 1.2em;
    font-family: serif;
    cursor: pointer;
    outline: none !important;
    color: black;
    line-height: 35px;
    vertical-align: top;
    border-radius: 3px;
}

.m-download-button-link {
    text-decoration: none;
    color: black;
}

.m-download-info {
    opacity: 0.5;
    margin: 1px 0 0 0;
    font-size: 0.8em;
}

.m-octicon {
    font-size: 28px;
}

.m-octicon-wrapper {
    margin-top: 10px;
}

.m-installation-script {
    display: inline-block;
    vertical-align: top;
    background-color: whitesmoke;
    border-radius: 3px;
    padding: 10px 10px;
    line-height: 15px;
    font-family: monospace;
}

.m-download-section {
    margin-top: 30px;
}